.divA{
    border: 5px solid blue;
    box-shadow: 10px 10px 8px red;
}

.divB{
    border: 5px solid greenyellow;
    box-shadow: 10px 10px 10px black inset;
}

.divC {
    border: 3px solid orange;
    box-shadow: 0 0 0 8px blue, 0 0 0 15px red, 0 0 0 23px green;
    border-radius: 10%;
}

.divD{
    border: 5px solid brown;
    text-shadow: 5px 5px 1px black;
}